[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-qiniu-storage = "*"
qiniu = "*"
bcrypt = "*"
djangorestframework-jwt = "*"
pytz = "==2018.5"
django = "==2.0.8"
django-configurations = "==2.0"
gunicorn = "==19.8.1"
newrelic = "==4.2.0.100"
"psycopg2-binary" = "==2.7.5"
dj-database-url = "==0.5.0"
django-model-utils = "==3.1.2"
django-unique-upload = "==0.2.1"
djangorestframework = "==3.8.2"
markdown = "==2.6.11"
django-filter = "==2.0.0"
ipdb = "==0.11"
ipython = "==6.5.0"
mkdocs = "==0.17.5"
"flake8" = "==3.5.0"
mock = "==2.0.0"
django-nose = "==1.4.5"
nose-progressive = "==1.5.1"
coverage = "==4.5.1"
factory_boy = "==2.11.1"
djangorestframework-recursive = "*"

[dev-packages]

[requires]
python_version = "3.7"
